
.client_cell_container {
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10;
    -fx-effect: dropshadow(three-pass-box, #DDDDDD, 5, 0, 0, 7);
}

.client_cell_container FontAwesomeIconView {
    -fx-fill: #132A13;
}

.client_cell_container HBox {
    -fx-spacing: 15;
    -fx-alignment: center_left;
}

.client_cell_container HBox Label {
    -fx-text-fill: #444444;
    -fx-font-family: "Calbri Light";
    -fx-font-size: 1.5em;
}

.acc_display_lbl {
    -fx-font-family: "Calbri";
    -fx-font-size: 1.1em;
    -fx-font-weight: bold;
}

.delete_btn {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #FF0000;
    -fx-background-radius: 5;
    -fx-padding: 8 8;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 4, 0.3, 0, 2);
    -fx-transition: all 0.3s ease-in-out;
}

.delete_btn FontAwesomeIconView {
    -fx-fill: #FFFFFF;
}

.delete_btn:hover {
    -fx-cursor: hand;
    -fx-background-color: #D80000; /* Darker red on hover */
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 6, 0.3, 0, 4);
}







